
    .title{
    font-size: 25px;
    font-family: Arial;
    color:pink;
    position:relative;
    left:160px;
    top:50px;
}
#id7{
    width:80px;
    position:relative;
    top:85px;
    right:560px;
}
#id8{
    width:80px;
    position:relative;
    top:20px;
    right:280px;
}
h1{
    position:relative;
    bottom:40px;
    left:30px;
}
input{
    position:relative;
    top:25px;
    right:30px;
}
fieldset{
    padding:14px;
    width:300px;
    height:70px;
    margin:50px;
    display:grid;
    grid-template-columns: auto auto;
    gap:130px;
    font-size:12px;
    overflow: hidden;
}
legend{
  background-color: red;
  color:white;
  font-size: 13px;
}
.sprice{
    position:relative;
    bottom:30px;
    left:30px;
}
.Incontainer{
    font-size:13px;
    font-family:arial;
    position:relative;
    bottom:190px;
}
#id1{
    font-size: 13px;
    position:relative;
    left:214px;
    bottom:55px;
}
#id2{
    position:relative;
    bottom:30px;
    left:100px;
    width:60px;
    background-color: red;
    color:white;
}
.pair1{
    width:150px;
    position:relative;
    bottom:200px;
    right:180px;
}
#id3{
    display: inline-flex;
    gap:20px;
    font-size:9px;
    position:relative;
    top:20px;
}
.num{
    font-size: 9px;
    position:relative;
    top:80px;
    right:20px;
}
.inputfield{
    gap:60px;
    position:relative;
    bottom:20px;
    left:20px;
}
.container:hover{
    overflow:visible;
    border-color: green;
    background-color:#8ee4e4;
 }
fieldset:hover{
    height:150px;
    overflow:visible;
    border-color: palevioletred;
    background-color: pink;
}
#id4{
    font-family: arial;
    font-size: 16px;
    color:pink;
    position:relative;
    bottom:41px;
    left:50px;
}
#id5{
    font-family:arial;
    font-size:16px;
    position:relative;
    bottom:70px;
    left:310px;
}
#id9{
    position:relative;
    bottom:35px;
    left:35px;
}
#id10{
    position:relative;
    bottom:35px;
    left:35px;
}
button{
    font-family: arial;
    font-size: 16px;
    background-color: pink;
    color:white;
    border:none;
    position:relative;
    bottom:70px;
    left:55px;
    width:380px;
    height:30px;
}
#id6{
    position: relative;
    bottom:80px;
    left:280px;
    color:lightgrey;
}
